.logodiv {
  max-width: 10%;
  max-height: 10%;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  display: flex;
  margin: 2%;
  justify-content: space-between;
}

.links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.link {
  color: #344563;
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #344563;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.link:hover::before {
  transform: scaleX(1);
}
