.mission_body {
  display: flex;
  max-width: 95%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  border: black solid 1px;
}

.heading {
  display: flex;
  margin: 1% auto;
  padding-left: 3%;
}

.mission_body:nth-child(even) {
  background-color: #e6e6e6;
}

.mission_body p {
  padding: 1%;
  min-width: 10%;
  text-align: left;
  margin: auto;
}

.heading p:nth-child(odd) {
  padding-right: 5%;
}

.heading p:nth-child(2) {
  padding-right: 50%;
}

.heading p:nth-child(3) {
  padding-right: 7%;
}

.mission_body span {
  padding: 1%;
  min-width: 15%;
  text-align: left;
  margin: auto;
}

.mission_body button {
  min-width: 10%;
  max-height: 21px;
  margin: auto;
}

.missionDiv {
  display: table-row;
  border: black solid 1px;
  margin: 2px;
}
