.mission_body {
  display: flex;
  max-width: 95%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.header td {
  border: none;
}

.mission_body table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: black solid 1px;
}

.mission_body table:nth-child(even) {
  background-color: blue;
}

.mission_body td {
  text-align: left;
  padding: 8px;
  min-width: 10rem;
  border-right: 1px solid black;
}

.mission_body th,
tr {
  border: 1px solid black;
  text-align: left;
}

.mission_body tr:nth-child(even) {
  background-color: blue;
}

.btnActive {
  background-color: #0290ff;
  color: #fff;
  padding: 0.4rem 0.3rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #0290ff;
}

.btnDeactivate {
  background-color: #e6e6e6;
  color: #fff;
  padding: 0.4rem 0.3rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #0290ff;
}
